* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    color: #7f39fb;
    text-shadow: 0px 0px 15px #7f39fb;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-size: 60px;
}

.board-container {
    margin-top: 5rem;
}
.x-or-o{
    font-size: 50px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-square {
    border: 1px solid #f2e7fe;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container.disabled {
    cursor: not-allowed;
}
.winner-box, .turn-box, .draw-box{
    font-size: 40px;
    color: #7f39fb;
    margin-top: 2rem;
}

.reset-btn{
    font-size: 20px;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    background-color: #9368c7;
    cursor: pointer;
}

.reset-btn:hover{
    background-color: #67478d;
}