* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board-container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.board-square{
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}